$base-theme:Bootstrap;
$skin-name:mytheme;
$swatch-name:Bootstrap;
$border-radius: 2.25rem;
$accent: #00b7ff;
$secondary: #99fbe6;
$info: #42e2fb;
$success: #0fe540;
$warning: #ffea05;
$error: #dc3545;
$body-bg: #ffffff;
$body-color: #000000;
$component-bg: #ffff44;
$component-color: #292b2c;
$card-cap-bg: #f7f7f9;
$card-cap-color: #292b2c;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;

// Automatically mapped to Bootstrap

$theme-colors: (
  "primary": $accent,
  "secondary": $secondary
);
