<a [routerLink]="'/create'" >+ Add a new product</a>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Brand</th>
    <th scope="col">Description</th>
    <th scope="col" colspan="2">Function</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of listProduct" class="thead-light">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.brand}}</td>
    <td>{{product.description}}</td>
    <td><button [routerLink]="'/edit/'+product.id">Edit</button></td>
    <td><button [routerLink]="'/delete/'+product.id">Delete</button></td>
  </tr>
  </tbody>
</table>
